* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top left, #ff52b3, #7ff5ff);
}

.container {
  padding: 25px;
  margin: 0 auto;
  background-color: #fff7ff96;
  border-radius: 15px;
  text-align: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#book-names {
  width: 35rem;
}

#book-names td {
  text-align: center;
}
